{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


</head>

<body class="">
    {% block Content %} 
    <div class="card">
        <div class="card-header">
          <h4> Dashboard</h4>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-2">
          <div class="col-md-4">
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for medicament in medicaments %}'{{ medicament.nom_commercial }}',{% endfor %} ],
                    datasets: [{
                        label: '# of Votes',
                        data: [{% for medicament in medicaments %}'{{ medicament.quantite }}',{% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            </script>
            </div>
            <footer class="blockquote-footer mt-3">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
    </div> 
    {% endblock Content %}
   
</body>